* {
    margin: 0;
    padding: 0;
    }

    html,
    body,
    .wrapper {
    height: 100%;
    }

    .wrapper {
    display: flex;
    }

    nav, .content {
    height: 100%;
    }

    .content {
    width: 100%;
    }
    
    .navbar {
    background-color: aquamarine;
    width: 500px;
    }

    .header {
    background-color: chocolate;
    height: 80px;
    width: 100%;
    }

    body {
        background-color: bisque;
        height: 100%;
        width: 100%;
    }

    .content {
    padding-top: 10px;
    padding-left: 10px;
    }

li {
list-style-type: none; /* Убираем маркеры */
}
ul {
margin-left: 0; /* Отступ слева в браузере IE и Opera */
padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}

a { 
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
   } 

a {
    font-size: 30px;
   }

h2 {
    text-align: center;
    font-size: 60px;
    }
    