li {
list-style-type: none; /* Убираем маркеры */
}
ul {
margin-left: 0; /* Отступ слева в браузере IE и Opera */
padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}

a { 
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
   } 

a {
    font-size: 30px;
   }

h2 {
    text-align: center;
    font-size: 60px;
    }