<!doctype html>
<html>
    <head>
        <title>Приборы</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}" />
    </head>
    <body>
        <div class="wrapper">

            {% block nav %}

            {% endblock %}

            <div class="content">            
                {% block header%}

                {% endblock %}


                {% block body %}

                {% endblock %}
            </div>
        </div>
    </body>
</html>        