{% extends 'base.html' %}

{% block nav %}
<div class="navbar">
    <ul>
        <li class="nav-item">
            <a class="nav-link" href="#">Добавить новый прибор</a>
        </li> 
    </ul>
</div>  
{% endblock %}


{% block header%}
    <div class="header">
        <h2>Os1</h2>
    </div>
{% endblock %}


{% block body %} 
    <div class="body">
        <table>
            {% for k, v in dev_dict.items() %}
                <tr>
                    <td>{{k}}</td><td>{{v}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}