{% extends 'base.html' %}

{% block nav %}
<div class="navbar">
    <ul>
        <li class="nav-item">
            <a class="nav-link" href="#">Добавить новый прибор</a>
        </li> 
    </ul>
</div>  
{% endblock %}


{% block header%}
    <div class="header">
        <h2>{{label}}</h2>
    </div>
{% endblock %}


{% block body %} 
    <div class="body">
        <table class="table">
            {% for d in dev_dict %}
                <tr>
                    <td>{{d['title']}}</td>
                    <td>
                        {% if d['layout'] == 'text' %}
                            <input type="text" name="" id="" value="{{ d['value'] }}"> 
                        {% endif %}

                        {% if d['layout'] == 'number' %}
                            <input type="number" name="" id="" value="{{ d['value'] }}">
                        {% endif %}

                        {% if d['layout'] == 'date' %}
                            <input type="date" name="" id="" value="{{ d['value'] }}">
                        {% endif %}

                        {% if d['layout'] == 'select' %}
                            <select name="" id=""></select>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>

        <div class="bodyqr">
            <img class="dev_qr_img" src="{{qr}}" />
        </div>
    </div>
{% endblock %}