{% extends 'base.html' %}

{% block nav %}
<div class="navbar">
    <ul>
        <li class="nav-item">
            <a class="nav-link" href="#">Добавить новый прибор</a>
        </li> 
    </ul>
</div>  
{% endblock %}


{% block header%}
    <div class="header">
        <h2>{{label}}</h2>
    </div>
{% endblock %}


{% block body %} 
    <div class="body">
        <form action="" method="post">   
            <table class="table">
                {% for d in dev_dict %}
                    <tr>
                        <td>{{d['title']}}</td>
                        <td>
                            {% if d['layout'] == 'text' %}
                                <input type="text" name="{{d['name']}}" id="" value="{{ d['value'] }}"> 
                            {% endif %}

                            {% if d['layout'] == 'number' %}
                                <input type="number" name="{{d['name']}}" id="" value="{{ d['value'] }}">
                            {% endif %}

                            {% if d['layout'] == 'date' %}
                                <input type="date" name="{{d['name']}}" id="" value="{{ d['value'] }}">
                            {% endif %}

                            {% if d['layout'] == 'select' %}
                                <select name="{{d['name']}}" id="">
                                    {% for v in d['data'] %}
                                        <option value="{{v.id}}" 
                                        {% if d['value'] == v.name %}
                                            selected
                                        {% endif %}
                                        >{{v.name}}</option>
                                    {% endfor %}  
                                </select>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>

            <div> 
                <input type="submit">
            </div>
        </form> 

        <div class="bodyqr">
            <img class="dev_qr_img" src="{{qr}}" />
        </div>
    </div>
{% endblock %}