{% extends 'base.html' %}

{% block nav %}
<div class="navbar">
    <ul>
        <li class="nav-item">
            <a class="nav-link" href="/">Главная</a>
            <a class="nav-link" href="/add_device">Добавить новый прибор</a>
        </li> 
    </ul>
</div>  
{% endblock %}


{% block header%}
    <div class="header">
        <h2>Приборы</h2>
    </div>
{% endblock %}


{% block body %} 
    <div class="body">
        <ul>
            {% for device in devices %}
                <li>
                    <span class="span">{{devices.index(device)+1}}</span>
                    <a href="/device/{{device.id}}">{{device.label}}</a>
                    <a href="/delete_device/{{device.id}}" class="dev-delete-lnk"><img src="{{ url_for('static',filename='imgs/delete_icon.svg') }}" alt=""></a>
                </li>
            {% endfor %}
            <!-- <li>
                <a href="/device/1">Os1</a>
                <a href="#" class="dev-delete-lnk"><img src="{{ url_for('static',filename='imgs/delete_icon.svg') }}" alt=""></a>
            </li>

            <li>
                <a href="/device/1">Tm1</a>
                <a href="#" class="dev-delete-lnk"><img src="{{ url_for('static',filename='imgs/delete_icon.svg') }}" alt=""></a>
            </li>

            <li>
                <a href="/device/1">Vtm1</a>
                <a href="#" class="dev-delete-lnk"><img src="{{ url_for('static',filename='imgs/delete_icon.svg') }}" alt=""></a>
            </li> -->
        </ul>
    </div>
{% endblock %}