{% extends 'base.html' %}

{% block nav %}
<div class="navbar">
    <ul>
        <li class="nav-item">
            <a class="nav-link" href="#">Добавить новый прибор</a>
        </li> 
    </ul>
</div>  
{% endblock %}


{% block header%}
    <div class="header">
        <h2>Приборы</h2>
    </div>
{% endblock %}


{% block body %} 
    <div class="body">
        <ul>
            <li>
                <a href="#">Os1</a>
                <a href="#"><img src="static/../imgs/delete_icon.svg" alt=""></a>
            </li>

            <li>
                <a href="#">Tm1</a>
                <a href="#"><img src="../imgs/delete_icon.svg" alt=""></a>
            </li>

            <li>
                <a href="#">Vtm1</a>
                <a href="#"><img src="../imgs/delete_icon.svg" alt=""></a>
            </li>
        </ul>
    </div>
{% endblock %}